{
  "parent": {
    "url": "http://{{ hostvars['PARENT' + item]['ansible_host'] }}:{{ hostvars['PARENT' + item]['parent_rpc_port'] }}",
    "key": "{{ hostvars['PARENT' + item]['parent_nodekey'] }}",
    "operator": {{ hostvars['CHILD' + item]['parent_operator'] }}
  },
  "child": {
    "url": "http://{{ hostvars['CHILD' + item]['ansible_host'] }}:{{ hostvars['CHILD' + item]['child_rpc_port'] }}",
    "key": "{{ hostvars['CHILD' + item]['child_nodekey'] }}",
    "operator": {{ hostvars['CHILD' + item]['child_operator'] }}
  }
}
