{
  "sender": {
    "child": {
      "key": "{{ hostvars['CHILD0']['child_nodekey'] }}"
    },
    "parent": {
      "key": "{{ hostvars['PARENT0']['parent_nodekey'] }}"
    }
  },
  "url": {
    "parent": "http://{{ hostvars['PARENT0']['ansible_host'] }}:{{ hostvars['PARENT0']['parent_rpc_port'] }}",
    "children": [
{% for host in groups['ChildChainNode'] %}
      "http://{{ hostvars[host]['ansible_host'] }}:{{ hostvars[host]['child_rpc_port'] }}"{{ "," if not loop.last else "" }}
{% endfor %}
    ]
  }
}
